.loader {
  /* width: 50px;
  height: 50px;
  border: 3px solid #ffffff;
  border-top: 3px solid #2df700;
  border-radius: 50%; */
  animation: spin 1s linear infinite;
  margin-top: 2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}